* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "open sans", serif;
}

body {
  background-color: #1c531d;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
section {
  margin: 1rem;

  &:first-of-type {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    align-items: end;
    color: whitesmoke;

    div {
      width: 25%;
      align-self: center;
      justify-self: end;
      &:last-of-type {
        text-align: end;
      }
      @media (max-width: 768px) {
        width: 45%;
        font-size: 0.9rem;
      }
    }
  }
  &:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(auto, 1fr);
    gap: 7px;
    justify-items: center;
    height: 80vh;
    width: 90vw;
    max-width: 1200px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    .card {
      height: 98%;
      aspect-ratio: 1/1.35;
      perspective: 1000px;
    }
    .card__inner {
      width: 100%;
      height: 100%;
      transition: transform 1s;
      transform-style: preserve-3d;
      cursor: pointer;
      position: relative;
    }
    .card__face {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      // overflow: hidden;
      border-radius: 16px;

      box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    }
    .card__face--front {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        // the image would not fill the whole container without this
        width: 103%;
        height: 103%;

        object-fit: fill;
      }
    }
    .card__face--back {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 6vmin;
      background-color: whitesmoke;
      transform: rotateY(180deg);
    }

    .is-flipped {
      transform: rotateY(180deg);
    }

    h3 {
      color: whitesmoke;
      font-size: 5vmin;
    }

    button {
      justify-self: center;
      grid-column: 2/3;
      width: 40%;
      height: 45px;
      border: none;
      border-radius: 5px;
      background-color: #228ab6;
      color: whitesmoke;
      transition: ease-in-out 0.3s;
      box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);

      &:hover {
        cursor: pointer;
        transform: scale(0.9);
      }
    }
  }
}
